h4 {
    margin: 4px 0px 0px;
    font-weight: 500;
    margin-bottom: -35px;
    font-size: 2rem;
}
h2 {
    font: 15px roboto, serif;
}
.card-panel {
    width: 200px;
    height: 200px;
    margin-top: 60px;
}
.hr {
    text-align: center;
    
}
